{% extends "!layout.html" %}

{% block nav_main %}

  <nav class="nav-main" role="navigation" data-topbar>
    <div class="left">
      <h1>
        <a href="/">
          Chef <span>Downloads</span>
        </a>
      </h1>
    </div>

    <i id="nav-icon" class="fa fa-bars"></i>
    <a href="https://www.chef.io/">
      <img id="logo" src="_static/chef_logo_v2.svg" onerror="_static/chef_logo_v2.png"/>
    </a>

    <ul class="nav-links links-main">
      <li class="nav-link">
        <a href="https://learn.chef.io/">Tutorials</a>
      </li>
      <li class="nav-link">
        <a href="https://learn.chef.io/skills/">Skills Library</a>
      </li>
      <li class="nav-link is-active">
        <a href="http://docs.chef.io/">Docs</a>
      </li>
      <li class="nav-link">
        <a href="https://www.chef.io/training/">Training</a>
      </li>
    </ul>
  </nav>
  
{{ super() }}

{% endblock %}


{% block footer %}

{{ super() }}

<!-- Start of Async Google Analytics Code -->
<script type="text/javascript">
var _gaq = _gaq || [];
var pluginUrl = (('https:' == document.location.protocol) ? 'https://ssl.' : 'http://www.') + 'google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_setAccount', 'UA-6369228-7']);
_gaq.push(['_setDomainName', '.chef.io']);
_gaq.push(['_setAllowHash', false]);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_addIgnoredRef','chef.io']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript';
  ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s); })();
</script>
<!-- End of Async Google Analytics Code -->

<!-- Start of Contact Analytics Code -->
<script type="text/javascript">
(function() {
  var didInit = false;
  function initMunchkin() {
    if(didInit === false) {
      didInit = true;
      Munchkin.init('255-VFB-268');
    }
  }
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = document.location.protocol + '//munchkin.marketo.net/munchkin.js';
  s.onreadystatechange = function() {
    if (this.readyState == 'complete' || this.readyState == 'loaded') {
      initMunchkin();
    }
  };
  s.onload = initMunchkin;
  document.getElementsByTagName('head')[0].appendChild(s);
})();
</script>
<!-- End of Contact Analytics Code -->

{% endblock %}
