{% extends "!layout.html" %}

{% block rootrellink %}
        <li><a href="http://docs.opscode.com/knife.html" target="_products">Knife</a>|&nbsp;</li>
        <li><a href="http://docs.opscode.com/plugin_knife.html" target="_products">Knife Plugins</a>|&nbsp;</li>
        <li><a href="http://docs.opscode.com/chef/resources.html" target="_products">Resources</a>|&nbsp;</li>
        <li><a href="http://docs.opscode.com/essentials_cookbooks.html" target="_products">Cookbooks</a>|&nbsp;</li>
        <li><a href="http://docs.opscode.com/dsl_recipe.html" target="_products">Recipe DSL</a>|&nbsp;</li>
        <li><a href="http://docs.opscode.com/lwrp.html" target="_products">Lightweight Resources</a>|&nbsp;</li>
        <li><a href="http://docs.opscode.com/search.html">Search the Docs</a>|&nbsp;</li>
        <li><a href="http://docs.opscode.com/">Home</a> &raquo;</li>
{% endblock %}




{% block relbar1 %}
<div style="background-color: #646464; text-align: left; padding: 0px 0px 0px 0px">
<a href="http://www.opscode.com/" target="_opscode"><img src="{{
pathto("_static/opscode_html_logo.png", 1) }}" border="0" alt="Opscode"/></a>
</div>
{{ super() }}
{% endblock %}






{% block footer %}

    <div class="footer">
    This work is licensed under a Creative Commons Attribution 3.0 Unported License.
    </div>

{{ super() }}

<!-- Start of Async Google Analytics Code -->
<script type="text/javascript">
var _gaq = _gaq || [];
var pluginUrl = (('https:' == document.location.protocol) ? 'https://ssl.' : 'http://www.') + 'google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_setAccount', 'UA-6369228-7']);
_gaq.push(['_setDomainName', '.opscode.com']);
_gaq.push(['_setAllowHash', false]);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_addIgnoredRef','opscode.com']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript';
  ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s); })();
</script>
<!-- End of Async HubSpot Analytics Code -->

<!-- Start of Async HubSpot Analytics Code -->
<script type="text/javascript">
(function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/57718.js';
            e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);
    </script><!-- End of Async HubSpot Analytics Code -->
{% endblock %}
