{% extends "!layout.html" %}

                           
 {% block rootrellink %}
         <li><a href="https://docs.chef.io/resources.html">Resources</a>&#149;</li>
         <li><a href="https://docs.chef.io/client/">Chef Client</a>&#149;</li>
         <li><a href="https://docs.chef.io/server/">Chef Server</a>&#149;</li>
         <li><a href="https://docs.chef.io/analytics/">Chef Analytics</a>&#149;</li>
         <li><a href="https://docs.chef.io/releases.html">Docs Releases</a>&#149;</li>
         <li><a href="https://docs.chef.io/search.html">Search the Docs</a>&#149;</li>
         <li><a href="https://docs.chef.io/">Home</a> &raquo;</li>
 {% endblock %}

 

{% block relbar1 %}
<div style="background-color: #221E1F; text-align: left; padding: 0px 0px 0px 0px">
<a href="https://docs.chef.io"><img src="{{
pathto("_static/chef_html_logo.png", 1) }}" border="0" alt="Chef"/></a>
</div>
{{ super() }}
{% endblock %}


{% block footer %}

{{ super() }}

<!-- Start of Async Google Analytics Code -->
<script type="text/javascript">
var _gaq = _gaq || [];
var pluginUrl = (('https:' == document.location.protocol) ? 'https://ssl.' : 'http://www.') + 'google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_setAccount', 'UA-6369228-7']);
_gaq.push(['_setDomainName', '.chef.io']);
_gaq.push(['_setAllowHash', false]);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_addIgnoredRef','chef.io']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript';
  ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s); })();
</script>
<!-- End of Async Google Analytics Code -->

<!-- Start of Contact Analytics Code -->
<script type="text/javascript">
(function() {
  var didInit = false;
  function initMunchkin() {
    if(didInit === false) {
      didInit = true;
      Munchkin.init('255-VFB-268');
    }
  }
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = document.location.protocol + '//munchkin.marketo.net/munchkin.js';
  s.onreadystatechange = function() {
    if (this.readyState == 'complete' || this.readyState == 'loaded') {
      initMunchkin();
    }
  };
  s.onload = initMunchkin;
  document.getElementsByTagName('head')[0].appendChild(s);
})();
</script>
<!-- End of Contact Analytics Code -->

{% endblock %}
