{% extends "basic/search.html" %}

{# This is the script for the Google search box. #}

{% set title = _('Search') %}

{% block extrahead %}
{{ super() }}
<!-- Put the following javascript before the closing </head> tag. -->
<script>
  (function() {
    var cx = '002253161482252482270:qevo820vfhm';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>

{% endblock %}


{% block body %}

<h1 id="search-documentation">{{ _('Search') }}</h1>

<div class="container">

<p>
{% trans %}From here you can search the documentation for Chef. Enter your search words into the box below and click the search button. The search will query all of the documentation for Chef. When you click a search result to view it, a new window will be opened.{% endtrans %}
</p>

<!-- Place this tag where you want both of the search box and the search results to render -->
<gcse:search></gcse:search>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

</div>

{% endblock %}







</body>
</head>
